.loading-gif-results {
    position: relative;
    width: 4vw;
    height: 4vw;
    margin-left: -39vw;
    z-index: 9999;
}
.container {
    width: 75vw;
    height: 5vw;
}
.text-loading {
    width: 75vw;
    font-family:Inter;
    font-size:18px;
    font-weight:400;
    position: absolute;
    text-align: center;
    margin-top: 3vw;
}
.counts-text {
    position: absolute;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    margin-left: -155px;
    margin-top: -3vw;
    color:#949494;
}